@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #333;
  --primary: #d9534f;
  --primary-hover: #c9302c;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@layer base {
  h1, h2, h3, p {
    text-align: center;
  }
}

@layer components {
  .section {
    @apply py-10 px-5 bg-white mb-5 rounded-lg;
    box-shadow: var(--shadow);
  }

  .button {
    @apply inline-block px-6 py-3 bg-[#d9534f] text-white rounded-md font-bold my-2.5 cursor-pointer hover:bg-[#c9302c] transition-colors no-underline;
  }

  .form-container {
    @apply max-w-[500px] mx-auto text-left;
  }

  .form-label {
    @apply font-bold block mt-2.5;
  }

  .form-input {
    @apply w-full p-2 mt-1.5 border border-[#ddd] rounded-md;
  }

  .submit-button {
    @apply mt-4 bg-[#d9534f] text-white cursor-pointer border-none rounded-md hover:bg-[#c9302c];
  }

  .description-container p {
    text-align: left;
    margin-bottom: 1rem; 
  }
  .margin-bottom p {
    margin-bottom: 1rem; 
  }

  .swiper-pagination-bullet {
    margin: 0 2px !important;
    transform: scale(0.8);
  }
  
  .swiper-pagination {
    display: flex;
    justify-content: center;
  }
  
  .custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  top: 70% !important;
  margin-top: 0 !important;
}


  
}
